.sidebar-layout {
    display: flex;
    min-height: calc(100vh - 3.5rem);
}

.sidebar-layout > div {
    width: 280px;
    border-right: 1px solid rgb(163, 168, 195, .2);
}

.sidebar-layout > main {
    flex-grow: 1;
    padding: 2rem;
}

.sidebar-layout > main h1 {
    margin-top: 1rem;
}