.sidebar-layout {
    display: flex;
    min-height: calc(100vh - 3.5rem);
}

.sidebar-layout > div {
    width: 280px;
    border-right: 1px solid lightgray;
}

.sidebar-layout > main {
    flex-grow: 1;
    padding: 1rem;
    height: 300vh
}