.primary-nav {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgb(163, 168, 195, .3);
    font-weight: bold;
}

.primary-nav > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.primary-nav img {
    width: 2rem;
}